body {
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: #fff;
}

.clearfix {
  clear: both;
}

/* app styles */

header {
  height: 100px;
  background: #444;
}

header div {
  width: 960px;
  margin: 0 auto;
}


main {
  width: 960px;
  margin: 30px auto;
}


footer {
  margin-top: 30px;
  height: 150px;
  background: #222;
}
